/* Header kısmı */
.home-header {
    background-image: url('../../images/iteration-1-images/home-banner.png');
    color: white;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Barlow", serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
}

.home-page img {
    width: 200px;
}

.home-message {
    font-family: "Satisfy", serif;
    color: #FDC913;
    padding-top: 20px;
    font-size: 20px;
}

.home-message2{
    margin-top: 20px;
    font-size: 50px; /*düzenlenecek*/
    font-weight: 300;
    line-height: 1.2;
}

.button{
    margin-top: 20px;
    background-color: #FDC913;
    border: none;
    border-radius:20px;
    height: 40px;
    width: 140px;
    cursor: pointer;
    color: black;
}

/* Home section kısmı */
.home-section {
    padding: 20px;
    background-color: rgb(252, 252, 244);
}

.header-nav-button nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin-left: 25%;
    max-width: 800px;

}

.header-nav-elements {
    text-align: center;
}

.header-nav-elements img {
    width: 30px;
    height: 30px;
}

.home-section-content {
    display: flex;
    justify-content: row;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.content-card1{
    background-image: url('../../images/iteration-2-images/cta/kart-1.png');
    margin-left: 400px;
    height: 290px;
    background-position: center;
    background-size: cover;
    width: 25%;
    color: white;
}

.content-card1 h4{
    margin-top: 20px;
    font-size: 40px;
    font-family: "Quattrocento", serif;
    display: flex;
    text-align: flex-start;
    margin-left: 20px;
    max-width: 100px;
}

.content-card1 p {
    margin-top: 20px;
    font-size: 15px;
    font-family: "Barlow", serif;
    display: flex;
    text-align: flex-start;
    margin-left: 20px;
}

.content-card1 button{
    margin-top: 20px;
    display: block;
    margin-left: 20px;
    background-color: white;
    color: #CE2829;
}

.content-card2{
    background-image: url('../../images/iteration-2-images/cta/kart-2.png');
    height: 140px;
    background-position: center;
    background-size: cover;
    width: 350px;
    color: white;
    display: flex;
    text-align: flex-start;
    flex-direction: column;
}

.content-card2 h4{
    margin-top: 20px;
    font-size: 20px;
    font-family: "Quattrocento", serif;
    display: flex;
    text-align: flex-start;
    margin-left: 20px;
    max-width: 140px;
}

.content-card2 button{
    margin-top: 20px;
    margin-left: 20px;
    background-color: white;
    color: #CE2829;
    display: block;
}

.content-card3{
    background-image: url('../../images/iteration-2-images/cta/kart-3.png');
    height: 140px;
    margin-top: 10px;
    background-position: center;
    background-size: cover;
    width: 350px;
    color: white;
    display: flex;
    text-align: flex-start;
    flex-direction: column;
}

.content-card3 h4{
    margin-top: 20px;
    font-size: 20px;
    font-family: "Quattrocento", serif;
    display: flex;
    text-align: flex-start;
    margin-left: 20px;
    max-width: 140px;
    color: #333;
}

.content-card3 button{
    margin-top:2px;
    margin-left: 20px;
    background-color: white;
    color: #CE2829;
    display: block;
}

.content-card1, .content-card2, .content-card3 {
    border-radius: 10px;
    text-align: center;
}

.home-section-text {
    text-align: center;
    margin-top: 40px;
}

.home-section-text p {
    color: #CE2829;
    font-family: 'Satisfy', cursive;
    font-size: 20px;
}

.home-section-text h4{
    font-family: "Barlow", serif;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.section-nav-button nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-left: 25%;
    max-width: 800px;
}

.section-nav-elements {
    text-align: center;
    background-color: white;
}

.section-nav-elements img {
    width: 40px;
    height: 40px;
}

.section-pizza {
    display: flex;
    justify-content: row;
    margin-top: 20px;
    margin-left: 280px;
}

.section-pizza img {
    width: 40%;
}

.section-pizza-card1, .section-pizza-card2, .section-pizza-card3 {
    background-color: #fff;
    padding: 10px;
    border-radius: 40px;
    text-align: center;
}

.rateNreview {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/* Footer kısmı */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}

.footer-1, .footer-2, .footer-3 {
    flex: 1;
    min-width: 250px;
    margin: 10px;
}

.footer-1 h4, .footer-2 h4, .footer-3 h4 {
    font-family: 'Londrina Solid', cursive;
    font-size: 30px;
}

.footer-adress, .footer-phone, .footer-mail {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 15px;
}

.footer-adress img, .footer-phone img, .footer-mail img {
    margin-right: 10px;
}

.footer-insta {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.footer-insta img {
    width: 50px;
    height: 50px;
}

@media (max-width: 768px) {
    .home-page img {
        margin-top: 60px;
        width: 200px;
    }

    .home-page p{
        margin-top: 20px;
        max-width: 100px;
        margin-left: 100px;
        display: flex;
        text-align: center;
        font-size: 50px;
    }

    .home-page button{
        margin-top: 20px;
        height: 30px;
        width: 100px;
        background: #FDC913;
    }
}